@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,button,p {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 1.5em;
}

.shape-1{
  background-image: url(/images/shapes/3139839-08.svg);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}

.shape-2{
  background-image: url(/images/shapes/shape-2.svg);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}

.shape-3{
  background-image: url(/images/shapes/3139839-28.svg);
  width: 40px;
  height: 100px;
  background-repeat: no-repeat;
}