@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 1024px;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  @apply font-bold;
  font-family: 'Poppins', sans-serif;
}

.next-image-fix > div {
  display: block !important;
}

.min-h-free {
  min-height: calc(100vh - 125px);
}

.diy-h-free {
  height: calc(100vh - 4rem);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    cursor: ew-resize;
    background: #111827;
    border-radius: 1rem;
    z-index: 1;
    position: relative;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
